/*  Adding Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

/*  Global */

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 230px;
}

/*  Header  */

.header {
    height: 809px;
    background-size: cover;
    background-image: url('./images/banner/banner2.png');
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 525px;
    position: absolute;
    top: 216px;
    left: 845px;
}

.header-title {
    font-style: normal;
    font-weight: 900;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #151414;
}

.header-description {
    margin: 24px 0 32px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;
}

.button {
    width: 160px;
    height: 64px;
    background: #F15B22;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    border: 2px solid #F15B22;
    color: #F15B22;
    background: #FFFFFF;
}

/*  First Section  */

.section1 {
    display: flex;
    flex-direction: row;
    gap: 87px;
    height: 983px;
    margin-top: 80px;
}

.image-bg {
    position: relative;
    width: 527.93px;
    height: 527.93px;
    background: #F15B2233;
    border-radius: 50%;    
}

.radius-bg {
    position: relative;
    width: 569px;
    height: 723px;
    background-image: url('./images/person.png');
    bottom: 197px;
    right: 23px;
}

.section1-content ul li{
    list-style: none;
}

.section1-content ul li:before {
    content: '✓';
    margin-right: 10px;
    color: #16D887;
}

.content-header {
    width: 288px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.content-description {
    width: 416px;
    margin: 24px 0 16px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.list-description {
    width: 416px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

/*  Section 2 */

.section2 {
    margin-bottom: 124px;
}

.section2-header {
    margin: 0 0 50px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.section2-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-align: center;
}

.item-header {
    margin: 24px 0 16px 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
}

.item-detail {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

.content-item {
    width: 300px;
    height: 250px;
    padding: 20px 5px 5px 5px;
    cursor: pointer;
}

.content-item:hover {
    background: #F15B221A;
    border: 1px solid #F15B22;
    border-radius: 10px;
    overflow: hidden;
}




/*  Section 3 */

.section3 {
    width: 1140px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #F15B22 , #F15B2200), url('./images/watch.png');
    background-blend-mode: color;
    padding: 59px 64px;
    margin-bottom: 130px;
}

.section3-header {
    width: 459px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.button2 {
    width: 160px;
    height: 64px;
    background: #FFFFFF;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button2:hover {
    border: 2px solid #FFFFFF;
    background: #F15B22;
    color: #FFFFFF;
}

/*  Footer  */

.footer {
    height: 577px;
    width: 100%;
    background: #151414;
    color: #FFFFFF;
    overflow: hidden
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 130px 244px;
}

.contact-header {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.contact-detail {
    width: 485px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.detail-1 {
    margin-bottom: 24px;
}

.detail-2 {
    margin-bottom: 16px;
}

.detail-3 {
    margin-bottom: 32px;
}

.social-icon img {
    margin-right: 17px;
}

.social-icon img:hover {
    cursor: pointer;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-header {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 31px;
}

.contact-form input[type="email"] {
    width: 325px;
    height: 64px;
    background: #151414;
    padding: 21px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
